@font-face {
    font-family: 'Heuvel Grotesk DEMO';
    src: url('fonts/HeuvelGroteskDEMO-Regular.eot');
    src: url('fonts/HeuvelGroteskDEMO-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/HeuvelGroteskDEMO-Regular.woff2') format('woff2'),
        url('fonts/HeuvelGroteskDEMO-Regular.woff') format('woff'),
        url('fonts/HeuvelGroteskDEMO-Regular.ttf') format('truetype'),
        url('fonts/HeuvelGroteskDEMO-Regular.svg#HeuvelGroteskDEMO-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

